main {
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 8% 0% 8%;
}

.aboutContentContainer {
  width: 35%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.aboutContentImg {
  width: 344px;
  height: 365px;

  border-radius: 36px;
  margin-bottom: 2%;
  animation: fadeInSlide 1.5s ease-in-out forwards;
  animation-delay: 0.5s;
  opacity: 0;
}
#aboutHead {
  animation: fadeInSlide 1.5s ease-in-out forwards;
  animation-delay: 0s;
  opacity: 0;
}
#aboutHr {
  width: 70%;
  height: 5px;
  border-radius: 10px;
  background-color: white;
  animation: fadeInSlide 1.5s ease-in-out forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

h3 {
  font-size: 2.8rem;
  text-align: left;
  margin-bottom: 2%;
  font-weight: bold;
}

#aboutBlurb {
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
  animation: fadeInSlide 1.5s ease-in-out forwards;
  animation-delay: 1s;
  opacity: 0;
}

.aboutSkillsContainer {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

.softwareIconContainer {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-template-rows: 1fr 1fr 1fr auto;
  animation: fadeInSlide 1.5s ease-in-out forwards;
  animation-delay: 2s;
  opacity: 0;
}

.lastGridIcon {
  grid-column: 2 / 3;
}

.currentSkillsHead {
  animation: fadeInSlide 1.5s ease-in-out forwards;
  animation-delay: 1.5s;
  opacity: 0;
}

@keyframes fadeInSlide {
  0% {
    transform: translateX(-25vw);
    filter: blur(20px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    filter: blur(0px);
    opacity: 1;
  }
}

.iconAnimation {
  animation: spin 2s linear;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.aboutImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  pointer-events: none;
}

@media (min-width: 1600px) {
  #aboutHead {
    font-size: 6rem;
  }
  .aboutContentImg {
    width: 394px;
    height: 415px;
  }

  svg {
    width: 100px;
    height: 100px;
  }
  .currentSkillsHead {
    font-size: 3rem;
  }
  #aboutBlurb {
    font-size: 1.75rem;
  }
}
@media (max-width: 1300px) {
  #aboutBlurb {
    font-size: 1rem;
  }
  .aboutContentImg {
    width: 294px;
    height: 315px;
  }
  .aboutContentContainer {
    width: 40%;
  }
  #aboutHead {
    font-size: 4rem;
  }
}

/*mobile*/
@media (max-width: 800px) {
  .currentSkillsHead {
    font-size: 1.5rem;
  }
  .aboutContentContainer {
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .aboutContentImg {
    width: 224px;
    height: 245px;
  }
  #aboutHead {
    text-align: center;
    font-size: 2rem;
  }
  .aboutSkillsContainer {
    width: 100%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
  .skillsIcon {
    width: 50px;
    height: 50px;
  }
}
