main {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 8% 0% 8%;
}

.contactContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
#contactHead {
  animation: fadeInSlide 2s ease-in-out forwards;
  opacity: 0;
}
#contactBlurb {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2.5%;
  animation: fadeInSlide 2s ease-in-out forwards;
  opacity: 0;
  animation-delay: 0.2;
}

input[type="text"] {
  width: 350px;
  height: 40px;
  font-family: inherit;
  border-radius: 15px;
  border: none;
  animation: fadeInSlide 2s ease-in-out forwards;
  opacity: 0;
}

input[type="email"] {
  width: 350px;
  height: 40px;
  font-family: inherit;
  border-radius: 15px;
  border: none;
  animation: fadeInSlide 2s ease-in-out forwards;
  opacity: 0;
}

textarea {
  max-width: 350px;
  max-height: 260px;
  min-width: 350px;
  min-height: 100px;
  font-family: inherit;
  border-radius: 15px;
  outline: none;
  border: none;
  animation: fadeInSlide 2s ease-in-out forwards;
  opacity: 0;
  padding: 1%;
}

textarea:focus {
  border: none;
  outline: none;
  border: 3px #7d91bd solid;
}
button {
  width: 250px;
  height: 55px;
  font-family: inherit;
  font-weight: bold;
  color: white;
  font-size: 1rem;
  border-radius: 15px;
  background-color: #7189bb;
  outline: none;
  border: none;
  margin-top: 3%;
  animation: fadeInSlide 2s ease-in-out forwards;
  opacity: 0;
}

input[type="text"]:hover {
  cursor: text;
}
input {
  padding: 1%;
  font-family: inherit;
}
input::placeholder {
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  color: #c2bebe;
}

textarea::placeholder {
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  color: #c2bebe;
}
input:focus {
  border: 3px #7d91bd solid;
}
button:hover {
  cursor: pointer;
  color: rgb(226, 222, 222);
  background-color: #5a6f9e;
}
form {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  align-items: center;
}

.contactRightContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.contactMusicContainer {
  width: 100%;
}

.contactIconContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  animation: fadeInSlide 2s ease-in-out forwards;
  opacity: 0;
  animation-delay: 0.7s;
}
.contactIcons {
  transition: 0.3s;
}
.contactIcons:hover {
  transform: scale(1.25);
  cursor: pointer;
}

@keyframes fadeInSlide {
  0% {
    transform: translateX(-25vw);
    filter: blur(20px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    filter: blur(0px);
    opacity: 1;
  }
}

@media (min-width: 1600px) {
  #contactHead {
    font-size: 5rem;
  }
  #contactBlurb {
    font-size: 2rem;
  }
  input[type="text"] {
    font-size: 2rem;
    width: 400px;
    height: 90px;
  }

  input[type="email"] {
    font-size: 2rem;
    width: 400px;
    height: 90px;
  }

  textarea {
    font-size: 2rem;
    max-width: 400px;
    max-height: 310px;
    min-width: 400px;
    min-height: 150px;
  }
  input::placeholder {
    font-size: 2rem;
  }

  textarea::placeholder {
    font-size: 2rem;
  }

  button {
    font-size: 2rem;
  }
  .contactIcons {
    transform: scale(1.25);
    margin-left: 5%;
  }
}

/*mobile*/
@media (max-width: 800px) {
  .contactContainer {
    width: 100%;
    margin-top: 25%;

    display: flex;
    align-items: center;
    flex-direction: center;
  }
  .contactRightContainer {
    width: 100%;
  }

  input[type="text"] {
    font-size: 0.75rem;
    width: 300px;
    height: 40px;
  }

  input[type="email"] {
    font-size: 0.75rem;
    width: 300px;
    height: 40px;
  }

  textarea {
    font-size: 0.75rem;
    max-width: 300px;
    max-height: 210px;
    min-width: 300px;
    min-height: 50px;
  }
  input::placeholder {
    font-size: 0.75rem;
  }

  textarea::placeholder {
    font-size: 0.75rem;
  }

  button {
    font-size: 0.75rem;
  }
  .contactIcons {
    transform: scale(1.25);
    margin-left: 5%;
  }

  .contactRightContainer {
    margin-top: 5%;
  }
}
