main {
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 8% 0% 8%;
}
.homeContentContainer {
  width: 35%;
}
.homeMusicContainer {
  width: 35%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
}
.contentHead {
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 2%;
  animation: fadeInSlide 2s ease-in-out forwards;
  opacity: 0;
}
#homeBlurb {
  animation: fadeInSlide 2s ease-in-out forwards;
  animation-delay: 0.3s;
  opacity: 0;
  font-size: 1.25rem;
  font-weight: 500;
}

mark {
  background: none;
  color: #7189bb;
}

.homeImgCon {
  width: 344px;
  height: 350px;
  border-radius: 36px;
  background-color: white;
  animation: fadeInSlide 2s ease-in-out forwards;
  animation-delay: 0.6s;
  opacity: 0;
}

@keyframes fadeInSlide {
  0% {
    transform: translateX(-25vw);
    filter: blur(20px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    filter: blur(0px);
    opacity: 1;
  }
}

.animatedBgContainer {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.generalNoteClass {
  position: absolute;
  /* add animation*/

  animation: fly 3s linear;
}

@keyframes fly {
  0% {
    opacity: 0%;
    transform: translateX(0) scale(0.25);
    filter: blur(2.5px);
  }

  50% {
    opacity: 0.8;
    transform: translateX(-50vw) scale(0.5) ro;
    filter: blur(0px);
  }

  100% {
    opacity: 0;
    transform: translateX(-100vw) scale(0.25);
    filter: blur(10px);
  }
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

@media (min-width: 1600px) {
  .contentHead {
    font-size: 6rem;
  }

  #homeBlurb {
    font-size: 1.75rem;
  }

  .homeContentContainer {
    width: 40%;
  }

  .homeImgCon {
    width: 394px;
    height: 400px;
  }
}

@media (max-width: 1300px) {
  #homeBlurb {
    font-size: 1rem;
  }

  .homeImgCon {
    width: 294px;
    height: 300px;
  }

  .contentHead {
    font-size: 4rem;
  }
}
/*mobile*/
@media (max-width: 800px) {
  main {
    display: flex;

    flex-direction: column;
    height: 100%;
    align-items: center;
  }
  .homeImgCon {
    width: 244px;
    height: 250px;
  }
  .homeContentContainer {
    margin-top: 5%;
    margin-bottom: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .homeMusicContainer {
    margin-top: 0;
    width: 100%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
