.controlBtns {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  align-items: center;
  padding: 2.5%;
  border-radius: 15px;
  background: rgba(141, 159, 196, 0.3);
}

input {
  width: 80%;
  margin-bottom: 5%;
  height: 15px;
}

input:focus {
  outline: none;
}
.musicPlayerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.controlIcons {
  font-size: 2rem;
}
.controlIconsPlay {
  font-size: 2.5rem;
}
