.controlBtns {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  align-items: center;
  padding: 2.5%;
  border-radius: 15px;
  background: rgba(141, 159, 196, 0.3);
}

input {
  width: 80%;
  margin-bottom: 5%;
  height: 15px;
}

input:focus {
  outline: none;
}
.musicPlayerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.controlIcons {
  font-size: 2rem;
  transition: 0.3s;
}
.controlIcons:hover {
  cursor: pointer;
}
.controlIconsPlay {
  font-size: 2.5rem;
  transition: 0.3s;
}

.controlIconsPlay:hover {
  cursor: pointer;
}
#aboutMusicControl {
  animation: fadeInSlide 1s ease-in-out forwards;
  animation-delay: 2.5s;
  opacity: 0;
}

#homeMusicControl {
  animation: fadeInSlide 2s ease-in-out forwards;
  animation-delay: 1.2s;
  opacity: 0;
}
#contactMusicControl {
  animation: fadeInSlide 2s ease-in-out forwards;
  animation-delay: 1.8s;
  opacity: 0;
}
@keyframes fadeInSlide {
  0% {
    transform: translateX(-25vw);
    filter: blur(20px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    filter: blur(0px);
    opacity: 1;
  }
}

@media (min-width: 1600px) {
  .controlBtns {
    width: 50%;
  }
  .controlIcons {
    font-size: 3rem;
  }

  .controlIconsPlay {
    font-size: 3rem;
  }
}

@media (max-width: 1300px) {
  .controlIconsPlay {
    font-size: 2rem;
  }
  .controlBtns {
    width: 45%;
  }

  .musicPlayerContainer {
    margin-bottom: 5%;
  }
}

@media (max-width: 800px) {
}
